.photo1 {
  height: 400px;
  width: 800px;
}
.photo2 {
    height: 300px;
    width: 500px;
  }
  .photo3 {
    height: 300px;
    width: 500px;
  }
  .photo4 {
    height: 250px;
    width: 400px;
  }
